html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: url('https://images.unsplash.com/photo-1543353071-873f17a7a088?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhlYWx0aHklMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
  height: 100vh;
  display: grid;
  place-items: center;
}
  
h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5rem;
  font-weight: bolder;
  color: #313133;
}
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 30rem;
  border: none;
  color: white;
  font-size: 20px;
  background: #313133;
  padding: 1rem;
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom: 20px;
}
  
button {
  padding: 1rem;
  background-color: #024d3d;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 30rem;
}
  
p {
  background: beige;
  margin-top: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  width: 15rem;
  font-size: 20px;
  padding: 0.5rem 1rem;

}

@media all and (max-width: 850px) {
  body {
    background-position: right;
  }
}


@media all and (max-width: 500px) {
  body {
    background-position: top;
  }

  h1 {
    font-size: 4rem;
  }
  
  input, 
  button {
    width: 15rem;
  }

  p {
    width: 10rem;
  }
}
